:host {
    display: block;
    grid-area: logo;
    height: var(--header-height);
    width: var(--sidebar-width);
    background-color: var(--primary-color);
}

.content {
    background-color: var(--primary-color);
    a {
        width: var(--sidebar-width);
        height: var(--header-height);
        background-color: var(--primary-color);
        padding: 0 1rem;
    }
}

