.container {
    background-color: #00000050;
    position: fixed;
    top: 0;
    left: 0;
    
    .dialog-content {
        width: 450px;
        background-color: var(--primary-color);
        border-radius: 8px;
        padding: 2rem;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

        @media (width < 768px) {
            width: 90dvw;
        }

        h3 {
            margin-bottom: 1rem;
            color: var(--third-color);
        }

        .form {

            color: var(--white-color);
        }
    }
}
